# Diretórios de Build
work/
out/

# Metadados e arquivos temporários do sistema
.build-metadata
*.iso
*.iso.sha256

# Cache de pacotes e arquivos de sistema do chroot
/profile/airootfs/var/cache/pacman/pkg/
/profile/airootfs/var/lib/pacman/sync/
