[Unit]
Description=Generate initramfs for Lyra OS live ISO
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mkinitcpio -p linux-zen
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
