[Unit]
Description=Lyra OS Flathub remote setup
ConditionPathExists=/usr/local/bin/lyra-flatpak-setup
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/lyra-flatpak-setup

[Install]
WantedBy=multi-user.target
