[Desktop Entry]
Exec=bash -c "sleep 5 && dbus-send --session --dest=org.kde.plasmashell --type=method_call /PlasmaShell org.kde.PlasmaShell.evaluateScript 'string:\$(cat ~/.set_wallpaper.js)'"

Name=Set Wallpaper
Type=Application
X-KDE-Autostart-after=panel
