# Lyra OS — SYSLINUX (BIOS) live menu. Mirrors the GRUB entries (§6).
DEFAULT lyra
PROMPT 0
TIMEOUT 150
UI vesamenu.c32

MENU TITLE Lyra OS
MENU BACKGROUND lyra-boot-bg.png
MENU COLOR title 1;36;44 #ff6ea6ff #00000000 std

LABEL lyra
    MENU LABEL Iniciar Lyra OS (recomendado)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nouveau.modeset=1 modprobe.blacklist=nvidia,nvidia_drm,nvidia_uvm,nvidia_modeset quiet splash

LABEL lyra-nvidia
    MENU LABEL Iniciar Lyra OS (drivers proprietarios NVIDIA)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nvidia_drm.modeset=1 modprobe.blacklist=nouveau quiet splash

LABEL lyra-safe
    MENU LABEL Iniciar Lyra OS (modo de seguranca / nomodeset)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nomodeset modprobe.blacklist=nvidia,nvidia_drm,nvidia_uvm,nvidia_modeset
