[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lyra OS
Name[pt_BR]=Instalar o Lyra OS
GenericName=System Installer
GenericName[pt_BR]=Instalador do sistema
Comment=Install Lyra OS to this computer
Comment[pt_BR]=Instala o Lyra OS neste computador
Keywords=calamares;system;installer;lyra;
TryExec=calamares
Exec=pkexec calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
