[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lyra OS
Name[pt_BR]=Instalar o Lyra OS
Comment=Install Lyra OS to this computer
Comment[pt_BR]=Instala o Lyra OS neste computador
TryExec=/usr/bin/calamares
Exec=/usr/bin/lyra-install-lock pkexec /usr/bin/calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
X-GNOME-Autostart-enabled=true
